.button {
  font-family: inherit;
  font-size: 0.9rem;
  flex-grow: 1;
  margin: 0;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: transparent;
}

.button:hover {
  opacity: 0.6;
}

.button:active {
  transform: scale(0.9);
}
